/* CSS Document */
.site_font {
	color: #303846;
	
	line-height:1.5; 
	
	font-family: sans-serif;
	font-size: 16px;
}
.fixed_position {
	position: fixed;
}
.above_all {
	z-index: 100;
}
.width_100 {
	width: 100%;
}
.zero_position {
	top: 0;
	left: 0;
	padding: 0px;
	margin: 0px;
}
.back_white {
	background-color: white;
}
.text_white {
	color: white;
}
.font_40 {
	font-size: 40px;
}
.list_visual {
	list-style: none;
}
.logo_header {
	height: 50px;
	width: 50px;
}
.logo_banner {
	height: 150px;
	width: 150px;
}
.element_flex {
	display: flex;
}
.direction_row {
	flex-direction: row;
}
.direction_column {
	flex-direction: column;
}
.align_center {
	align-items: center;
}
.align_top {
	align-items: flex-start;
}
.font_bold {
	font-weight: bold;
}
.font_header {
	font-size: 1.5em;
}
.margin_10 {
	margin: 10px;
}
.margin_50 {
	margin: 50px;
}
.marginright_20 {
	margin-right: 20px;
}
.marginright_100 {
	margin-right: 100px;
}
.element_spacebetween {
	justify-content: space-between;
}
.notlink_decoration {
	text-decoration: none;
	color: #303846;
}
.margintop_70 {
	margin-top: 70px;
}
.margintop_15 {
	margin-top: 15px;
}
.height_400 {
	height: 400px;
	min-height: 400px;
}
.relative_position {
	position: relative;
}
.absolute_position {
	position: absolute;
}
.no_overflow{
	overflow: hidden;	
}
.marginnottop_135 {
	margin-top: -135px;
}
.width_auto {
	 width: auto;
}
.center_position {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.novertical_scaling {
	min-width: 1300px;
}
.button_decor {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
}
.content_evenly {
	justify-content: space-evenly;
	align-items: center;
}
.content_center{
	justify-content: center;
}
.button_decor:hover {
	color: skyblue;
	border-color: skyblue;
}
.three_block {
	width: 1000px;
	justify-content: space-between;
}
.two_block {
	width: 850px;
	justify-content: space-between;	
}
.small_block {
	width: 300px;
}
.big_block {
	width: 500px;
}
.hover_grey:hover {
	color: grey;
}
.lineheight_05 {
	line-height: 0.5;
}
.backgr_lightgrey {
	background-color: #f7f7f7;
}
.small_image {
	width: 250px;
	height: auto;
}