/* CSS Document */
.zero_position {
	top: 0;
	left: 0;
	
	padding: 0px;
	margin: 0px;
}
.header_position {
	position: fixed;
	
	z-index: 100;
}
.banner_position {
	min-width: 1300px;
	
	margin-top: -135px;
}
.center_position {
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
}
.relative_position {
	position: relative;
}
.absolute_position {
	position: absolute;
}

.width_100 {
	width: 100%;
}
.three_block_size {
	width: 1000px;
}
.two_block_size {
	width: 850px;
}
.logo_header_size {
	height: 50px;
	width: 50px;
}
.logo_banner_size {
	height: 150px;
	width: 150px;
}
.small_block_size {
	width: 300px;
}
.big_block_size {
	width: 500px;
}
.medium_block_size {
	width: 400px;
}
.footer_block_size {
	width: 1500px;
}
.select_size {
	width: 150px;
	margin-right: 50px;
}
.textblock_size {
	width: 200px;
}
.small_image_size {
	width: 250px;
	height: auto;
}
.width_auto {
	 width: auto;
}
.height_400 {
	height: 400px;
	min-height: 400px;
}

.direction_row {
	display: flex;
	flex-direction: row;
}
.direction_column {
	display: flex;
	flex-direction: column;
}
.align_center {
	display: flex;
	align-items: center;
}
.align_top {
	display: flex;
	align-items: flex-start;
}
.content_evenly {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.content_center{
	display: flex;
	justify-content: center;
}
.content_between {
	display: flex;
	justify-content: space-between;
}

.margin_10 {
	margin: 10px;
}
.margin_50 {
	margin: 50px;
}
.margin_right_20 {
	margin-right: 20px;
}
.margin_right_100 {
	margin-right: 100px;
}
.margin_top_70 {
	margin-top: 70px;
}
.margin_top_15 {
	margin-top: 15px;
}
.margin_1 {
	margin: 1px;
}
.margin_top_0 {
	margin-top: 0;
}
.padding_top_bottom_50 {
	padding: 50px 0px;
}
.padding_right_10 {
	padding-right: 10px;
}
.padding_left_10 {
	padding-left: 10px;
}

.site_font {
	line-height:1.5; 
	
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	
	color: #303846;
}
.font_bold {
	font-weight: bold;
}
.font_40 {
	font-size: 40px;
}
.lineheight_05 {
	line-height: 0.5;
}

.button_decor {
	display: inline-block;
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px 15px;
}
.button_decor:hover {
	color: skyblue;
	border-color: skyblue;
}
.border_white {
	border-color: white;
}
.green_decor {
	color: #00D099;
	border-color: #00D099;	
}
.text_white {
	color: white;
}
.hover_grey:hover {
	color: grey;
}
.backgr_white {
	background-color: white;
}
.backgr_lightgrey {
	background-color: #f7f7f7;
}
.backgr_darkgrey {
	background-color: #303846;
}

.not_list_style {
	list-style: none;
}
.not_link_decoration {
	text-decoration: none;
}
.no_overflow{
	overflow: hidden;	
}